{% extends 'base.html.twig' %}

{% block title %}roots - settings
{% endblock %}

{% block body %}
	<div class="jumbotron bg-blue">
		<h1 class="display-6">Welcome,
			{{ name }}.</h1>
	</div>

	<div
		class="card w-75 mx-auto" style="margin-top:20px;">
		{# settings #}
		<div class="card-body text-center">
			<a class="btn btn-primary" href="/settings">Settings</a>
			<a class="btn btn-info" href="/new/page">Create New Page</a>
		</div>

		<hr>
		<div class="d-flex justify-content-between" style="margin:1rem;">
			<p class="font-weight-bold">Website</p>
			<p class="font-weight-bold">Subscription Tier</p>
			<p class="font-weight-bold">Page Link</p>
        </div>

		{# loop thru subscriptions #}
		{% for sub in subs %}
		<hr>
        <div class="d-flex justify-content-between" style="margin:1rem;">
			<p>{{ sub.site }}</p>
			<p>{{ sub.title }} : ${{ sub.amount }}</p>
			<p><a class="btn btn-secondary" href="/page/{{ sub.id }}">view</a></p>
        </div>
		{% endfor %}
	</div>
{% endblock %}
