{% extends 'base.html.twig' %}

{% block body %}
	<h3 class="center" style="margin-top:50px;">Registration Form</h3>
	{{ form_start(form) }}
	<div style="display:block;width:400px;margin-left:auto;margin-right:auto;">
			<div>
				{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div>
				{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div>
				{{ form_row(form.password.first, {'attr': {'class':
                'form-control'}}) }}
			</div>
			<div>
				{{ form_row(form.password.second, {'attr': {'class':
                'form-control'}}) }}
			</div>
			<div>
				<button type="submit" class="btn-submit center">
					<i class="fa fa-btn fa-user"></i>
					Register
				</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
