<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href={{ asset('build/app.css') }}>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css"/>
			<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		{% endblock %}
	</head>
	<body>
		<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
			<button type="button" data-toggle="responsive-menu"><img src={{ asset('build/images/hamburger.svg') }} class="menu-hamburger"></button>
			<div class="title-bar-title"></div>
		</div>

		<div class="top-bar" id="responsive-menu">
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu>
			<li><a href={{ path('index') }} class="menu-text">roots</a></li>
			<li><a class="menu-hover" href={{ path('text') }}>text</a></li>
			<li><a class="menu-hover" href={{ path('audio') }}>audio</a></li>
			<li><a class="menu-hover" href={{ path('video') }}>video</a></li>
			<li><a class="menu-hover" href={{ path('about') }}>about</a></li>
			</ul>
		</div>

		{# TODO: Replace "sign up | log in" with "settings | logout" when a user is signed in #}
		{# 
			{% if app.user != null %}
			{% endif %}
		#}

		<div class="top-bar-right">
			<div class="menu-signuplogin">
				<a class="menu-hover" href={{ path('registration') }}>sign up</a>
				|
				<a class="menu-hover" href={{ path('app_login') }}>log in</a>
			</div>
		</div>
		</div>

		{% block body %}{% endblock %}

		<div class="footer">
			<p>&#169; [my fake company] roots 2020</p>
		</div>

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
			<script type="text/javascript">
				$(document).foundation();
			</script>
		{% endblock %}
	</body>
</html>
