{% extends "base.html.twig" %}

{% block title %}
	roots
{% endblock %}


{% block body %}
	{{ parent() }}

	{# 
		{% if app.user != null %}
		{% endif %}
	#}

	<div class="page-body">
		<h3>A platform empowering the individual creator.</h3>
		<p class="space3">Creators own their content and make money on their terms.<br>
			Your subscriptions, all in one place.</p>

		<div class="center">
			<div class="circle-buttons">
				<a href={{ path('text') }} class="text-button"></a>
				<a href={{ path('video') }} class="video-button"></a>
				<a href={{ path('audio') }} class="audio-button"></a>
			</div>
		</div>
	</div>

	<div class="page-body" id="index-app"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
