{% extends 'base.html.twig' %}
{%
block body %}

<div class="jumbotron bg-blue">
  <h1 class="display-6">Creators own their content and monetize it on their terms.<br>
				Your subscriptions, all in one place.</h1>
  <a class="btn btn-primary" href="{{ path('about') }}" style="margin-top:40px;">Learn more</a>
</div>

<div style="padding: 4rem 2rem;">
  <h3 class="text-center">Begin your journey by picking one of the following to explore:</h3>
  <div class="d-flex justify-content-around" style="margin-top:60px;margin-bottom: 60px;">
      <div class="circle" data-toggle="tooltip" data-placement="top" title="text"><img class="btn-svg" src={{ asset('images/text.svg') }}></div>
      <div class="circle" data-toggle="tooltip" data-placement="top" title="audio"><img class="btn-svg" src={{ asset('images/audio.svg') }}></div>
      <div class="circle" data-toggle="tooltip" data-placement="top" title="video"><img class="btn-svg btn-video" src={{ asset('images/video.svg') }}></div>
  </div>
</div>

<div class="jumbotron bg-green">
  <h1 class="display-6 text-left">Reviews from creators:</h1>
  <div class="d-flex justify-content-around" style="margin-top:60px;margin-bottom: 60px;">
    <div class="card" style="width: 25rem;">
      <img src={{ asset('images/alexis-rose.jpg') }} class="card-img-top" alt="Alexis Rose">
      <div class="card-body">
        <h5 class="card-title text-center">Alexis Rose</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"><a href="#" class="btn btn-primary button-blue">view profile</a></div>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <img src={{ asset('images/Johnny-rose.jpg') }} class="card-img-top" alt="Johnny Rose">
      <div class="card-body">
        <h5 class="card-title text-center">Johnny Rose</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"><a href="#" class="btn btn-primary button-blue">view profile</a></div>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <img src={{ asset('images/patrick-brewer.jpg') }} class="card-img-top" alt="Patrick Brewer">
      <div class="card-body">
        <h5 class="card-title text-center">Patrick Brewer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"><a href="#" class="btn btn-primary button-blue">view profile</a></div>
      </div>
    </div>
  </div>
</div>

<div style="padding: 4rem 2rem;">
  <h1 class="display-6 text-right">Why use Roots?</h1>
  <div class="card w-75 mx-auto" style="margin-top:20px;">
    <div class="card-body">
      <h4 class="text-center" style="margin-top:40px;">Roots gives creators a way to monetize their content without giving up ownership.</h4>
      <h4 class="text-center" style="margin-bottom:40px;">Consumers input their payment info once to gain access to a library of subscription options.</h4>
    </div>
  </div>
</div>

<div class="jumbotron bg-blue">
  <h1 class="display-6 text-left">Reviews from users:</h1>
  <div class="d-flex justify-content-around" style="margin-top:60px;margin-bottom: 60px;">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}