{% extends 'base.html.twig' %}

{% block title %}roots - {{type}}
{% endblock %}

{%
block body %}
	<div class="jumbotron bg-green">
		<h1 class="display-6">Explore {{type}}.</h1>
	</div>
	<div class="text-content" style="margin-top:30px;">
		<form class="form-inline justify-content-center">
			<input class="form-control form-control-med mr-3 w-50" type="text" placeholder="Search by name" aria-label="Search">
			<i class="fa fa-search fa-lg" style="color:#247ba0;" aria-hidden="true"></i>
		</form>

		<div
		class="card w-75 mx-auto" style="margin-top:20px;">
			<h4 class="text-center" style="margin-top:40px;margin-bottom:20px;">Creators</h4>
			{% for page in pages %}
			<hr>
			<div class="d-flex" style="margin:1rem;">
			<p class="p-2 flex-fill text-center" style="width:100%">{{ page.title }}</p>
			<a class="p-2 flex-fill text-center" style="width:100%" href="{{ page.url }}" class="btn btn-link">{{ page.url }}</p>
			<p class="p-2 flex-fill text-center" style="width:100%"><a class="btn btn-secondary" href="/page/{{ page.id }}">view</a></p>
        </div>
			{% endfor %}
		</div>


        {# <h4 style="margin-top:60px;margin-bottom:20px;">Trending Creators</h4>
		<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-interval="10000">
					<div class="d-flex p-2 bd-highlight justify-content-around">
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/alexis-rose.jpg') }} class="card-img-top" alt="Alexis Rose">
							<div class="card-body">
								<h5 class="card-title text-center">Alexis Rose</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/alexis-rose.jpg') }} class="card-img-top" alt="Alexis Rose">
							<div class="card-body">
								<h5 class="card-title text-center">Alexis Rose</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/alexis-rose.jpg') }} class="card-img-top" alt="Alexis Rose">
							<div class="card-body">
								<h5 class="card-title text-center">Alexis Rose</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item" data-interval="2000">
					<div class="d-flex p-2 bd-highlight justify-content-around">
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/Johnny-rose.jpg') }} class="card-img-top" alt="Johnny Rose">
							<div class="card-body">
								<h5 class="card-title text-center">Johnny Rose</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/Johnny-rose.jpg') }} class="card-img-top" alt="Johnny Rose">
							<div class="card-body">
								<h5 class="card-title text-center">Johnny Rose</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/Johnny-rose.jpg') }} class="card-img-top" alt="Johnny Rose">
							<div class="card-body">
								<h5 class="card-title text-center">Johnny Rose</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="d-flex p-2 bd-highlight justify-content-around">
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/patrick-brewer.jpg') }} class="card-img-top" alt="Patrick Brewer">
							<div class="card-body">
								<h5 class="card-title text-center">Patrick Brewer</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/patrick-brewer.jpg') }} class="card-img-top" alt="Patrick Brewer">
							<div class="card-body">
								<h5 class="card-title text-center">Patrick Brewer</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
						<div class="card" style="width: 20rem;">
							<img src={{ asset('images/patrick-brewer.jpg') }} class="card-img-top" alt="Patrick Brewer">
							<div class="card-body">
								<h5 class="card-title text-center">Patrick Brewer</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<div class="text-center">
									<a href="#" class="btn btn-primary button-blue">view profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev" style="background-color:#1E1A1D;width:auto;">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next" style="background-color:#1E1A1D;width:auto;">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div> #}
	</div>
{% endblock %}
