{% extends 'base.html.twig' %}

{% block title %}roots - settings
{% endblock %}

{% block body %}
	<div class="jumbotron bg-blue">
		<h1 class="display-6">Create New Website Landing Page</h1>
	</div>

	<div class="card w-75 mx-auto" style="margin-top:20px;">
		<div class="mx-auto" style="margin:2rem;">
			{% if message %}
				<div class="alert alert-danger">{{ message }}</div>
			{% endif %}
			{{ form_start(form) }}
			<div>
				{{ form_errors(form) }}
			</div>

			<div class="row">
				<div class="col">
					{{ form_label(form.url, 'URL: ') }}
				</div>
				<div class="col">
					{{ form_widget(form.url) }}
				</div>
				<div class="w-100">{{form_errors(form.url) }}</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_label(form.title, 'Title: ') }}
				</div>
				<div class="col">
					{{ form_widget(form.title) }}
				</div>
				<div class="w-100">{{form_errors(form.title) }}</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_label(form.type, 'Type: ') }}
				</div>
				<div class="col">
					{{ form_widget(form.type) }}
				</div>
				<div class="w-100">{{form_errors(form.type) }}</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_label(form.description, 'Description: ') }}
				</div>
				<div class="col">
					{{ form_widget(form.description) }}
				</div>
				<div class="w-100">{{form_errors(form.description) }}</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_label(form.private, 'Private: ') }}
				</div>
				<div class="col">
					{{ form_widget(form.private) }}
				</div>
				<div class="w-100">{{form_errors(form.private) }}</div>
			</div>
			<div class="row">
				<div class="col text-center">
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary button-submit'}}) }}
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	<script>
		$(function () {
			const params = new URLSearchParams(window.location.search);
			if (params.has('message')) {
				alert(params.get('message'));
			}
		});
	</script>
{% endblock %}
