{% extends 'base.html.twig' %}

{% block title %}roots - about
{% endblock %}

{% block body %}
	<div class="jumbotron bg-blue">
		<h1 class="display-6">
			{{ page.title }}
			{% if owner %}
				<button type="button" class="btn btn-secondary mx-auto" onclick="toggleEdit('title');">
					edit
				</button>
			{% endif %}
		</h1>
	</div>
	<div class="text-content">
		{% if message %}
			<div class="alert alert-warning">{{ message }}</div>
		{% endif %}
		<div class="card w-75 mx-auto" style="margin-top:20px;">
			<div style="margin:2rem;">
				<h3>Website
					<!-- Button trigger modal -->
					{# <button type="button" class="btn btn-secondary mx-auto" data-toggle="modal" data-target="#editModal"> #}
				</h3>
				<a href="{{ page.url }}" class="btn btn-link">{{ page.url }}</a>
				{% if owner %}
					<button type="button" class="btn btn-orange mx-auto" onclick="toggleEdit('url');"> edit
					</button>
				{% endif %}

				<hr style="margin-top:2em;margin-bottom:2rem;">

				<h3>Description
					<!-- Button trigger modal -->
					{# <button type="button" class="btn btn-secondary mx-auto" data-toggle="modal" data-target="#editModal"> #}
					{% if owner %}
						<button type="button" class="btn btn-orange mx-auto" onclick="toggleEdit('description');"> edit
						</button>
					{% endif %}
				</h3>
				{{ page.description }}

				<hr style="margin-top:2em;margin-bottom:2rem;">

				<h3>Subscription Tiers
				<button type="button" class="btn btn-blue mx-auto" onclick="$('#addModal').modal('toggle');">add</button>
				</h3>
				<div class="d-flex justify-content-around">
					{% for tier in tiers %}
						<div class="card border-dark mb-3" style="width: 18rem;height:20rem;">
							<div class="card-header text-center">{{ tier.title }}</div>
							<div class="card-body">
								<h5 class="card-title text-center">${{ tier.amount }}</h5>
								<p class="card-text text-center">{{ tier.description }}</p>
							</div>
							{% if owner %}
								<button type="button" class="btn btn-orange mx-auto" onclick="toggleEditTier({{ tier.id }});" style="width:12rem;margin: 1rem auto;"> edit
								</button>
							{% else %}
								{% if (sub != null) and (tier.id == sub.getSubTier()) %}
									{# <a class="btn btn-secondary" href="/subscribe/0/{{ page.id }}/{{ tier.id }}" style="width:12rem;margin: 1rem auto;">unsubscribe</a> #}
									<a class="btn btn-secondary" href="javascript:subscribe(0, '{{ tier.title }}', {{ tier.id }})" style="width:12rem;margin: 1rem auto;">unsubscribe</a>
								{% else %}
									{# <a class="btn btn-primary" href="/subscribe/1/{{ page.id }}/{{ tier.id }}" style="width:12rem;margin: 1rem auto;">select</a> #}
									{% if sub != null %}
										<a class="btn btn-info bg-green" href="javascript:subscribe(1, '{{ tier.title }}', {{ tier.id }}, {{ sub.getSubTier() }})" style="width:12rem;margin: 1rem auto;">select</a>
									{% else %}
										<a class="btn btn-info bg-green" href="javascript:subscribe(1, '{{ tier.title }}', {{ tier.id }})" style="width:12rem;margin: 1rem auto;">select</a>
									{% endif %}
								{% endif %}
							{% endif %}
						</div>
					{% endfor %}
				</div>

				{% if page.private and owner %}
					<div class="d-flex justify-content-between" style="margin:1rem;margin-top:5rem">
						<a class="btn btn-blue" href="javascript:publish(0)" style="width:12rem;margin: 1rem auto;">Publish</a>
					</div>
				{% endif %}
				{% if not page.private and owner %}
					<div class="d-flex justify-content-between" style="margin:1rem;margin-top:5rem">
						<a class="btn btn-blue" href="javascript:publish(1)" style="width:12rem;margin: 1rem auto;">Unpublish</a>
					</div>
				{% endif %}

				{% if owner %}
					<div class="d-flex justify-content-between" style="margin:1rem;">
						<a class="btn btn-orange" href="javascript:deletePage()" style="width:12rem;margin: 1rem auto;">Delete</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalTitle"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cance">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div
					class="modal-body" id="editModalBody">{# dynamic HTML goes here dependent on modal toggle #}

				</div>
				<div class="modal-footer" id="editModalFooter">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalTitle">Add Tier</h5>
				</div>
				<div
					class="modal-body" id="addModalBody">{# dynamic HTML goes here dependent on modal toggle #}
					<form method="post" action="/add/{{ page.id }}/tier">
						<div class="row">
							<div class="col">
								<label for="form_title" class="required">Title: </label>
							</div>
							<div class="col">
								<input type="text" id="form_title" name="form[title]" required="required" value="">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="form_amount" class="required">Amount: </label>
							</div>
							<div class="col">
								<input type="text" id="form_amount" name="form[amount]" required="required" value="">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="form_description" class="required">Description: </label>
							</div>
							<div class="col">
								<textarea type="text" id="form_description" name="form[description]" required="required"></textarea>
							</div>
						</div>
						<div class="col text-center">
							<button type="submit" id="form_save" name="form[save]" class="btn btn-primary">Add Tier</button>
						</div>
					</form>
				</div>
				<div class="modal-footer" id="addModalFooter">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalTitle">Subscription Notice</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="messageModalBody"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {
			const params = new URLSearchParams(window.location.search);
			if (params.has('message')) {
				alert(params.get('message'));
			}
		});
	
	function deletePage() {
		response = confirm("Are you sure you would like to delete {{ page.title }}?");
		if (response) {
			window.location.href = '/delete/{{ page.id }}';
		}
	}

	function deleteTier(id, title) {
		response = confirm(`Are you sure you would like to delete tier titled '${title}'?`);
		if (response) {
			window.location.href = `/delete/tier/${id}`;
		}
	}

	function publish(action) {
		if (action) {
			response = confirm("Are you sure you would like to unpublish {{ page.title }}?");
		} else {
			response = confirm("Are you sure you would like to publish {{ page.title }}?");
		}
		if (response) {
			window.location.href = '/publish/{{ page.id }}';
		}
	}


	function subscribe(type, title, tier_id, unsub_tier = -1) {
		response = false;

		switch (type) {
			case 0:
				// unsubscribe
				response = confirm("Are you sure you would like to unsubscribe from {{ page.title }}? You may choose to re-subscribe at any time.");
				if (response) {
					window.location.href = '/unsubscribe/{{ page.id }}/' + tier_id;
				}
				break;

			case 1:
				// subscribe
				response = confirm("Are you sure you would like to subscribe to the " + title + " for {{ page.title }}? This will remove any existing subscriptions to this site.");
				if (response) {
					window.location.href = '/subscribe/{{ page.id }}/' + tier_id + '/' + unsub_tier;
				}
				break;
		}
	}

	function toggleEditTier(id) {
		editId = 'editModalBody';
		titleId = 'editModalTitle';
		form = '';

		tiers = {};
		{% for tier in tiers %}
			tiers['{{ tier.id }}'] = {
				'title': '{{ tier.title }}',
				'amount': '{{ tier.amount }}',
				'description': '{{ tier.description }}',
			};
		{% endfor %}
		tier = tiers[id];
		
		document.getElementById(titleId).innerHTML = 'Edit Tier';
		form = `
			<form method="post" action="/page/edit/tier/${id}">
				<div class="row">
					<div class="col">
						<label for="form_title" class="required">Title: </label>
					</div>
					<div class="col">
						<input type="text" id="form_title" name="form[title]" required="required" value="${tier['title']}">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="form_amount" class="required">Amount: </label>
					</div>
					<div class="col">
						<input type="text" id="form_amount" name="form[amount]" required="required" value="${tier['amount']}">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="form_description" class="required">Description: </label>
					</div>
					<div class="col">
						<textarea type="text" id="form_description" name="form[description]" required="required">${tier['description']}</textarea>
					</div>
				</div>
				<div class="col">
					<button type="submit" id="form_save" name="form[save]" class="btn btn-primary" style="float:right;">Save Changes</button>
					<button type="button" onclick="javascript:deleteTier(${id}, '${tier['title']}')" class="btn btn-secondary" style="float:left;">Delete</button>
				</div>
			</form>
		`;

		document.getElementById(editId).innerHTML = form;
		$("#editModal").modal('toggle');
	}

	function toggleEdit(type) {
		editId = 'editModalBody';
		titleId = 'editModalTitle';
		form = '';

		switch (type) {
			case 'title':
				document.getElementById(titleId).innerHTML = 'Edit Title';
				form = `
					<form method="post" action="/page/{{ page.id }}/edit/title">
						<div class="row">
							<div class="col">
								<label for="form_title" class="required">Title: </label>
							</div>
							<div class="col">
								<input type="text" id="form_title" name="form[title]" required="required" value="{{ page.title }}">
							</div>
						</div>
						<div class="col text-center">
							<button type="submit" id="form_save" name="form[save]" class="btn btn-primary">Save Changes</button>
						</div>
					</form>
				`;
				break;

			case 'url':
				document.getElementById(titleId).innerHTML = 'Edit URL';
				form = `
					<form method="post" action="/page/{{ page.id }}/edit/url">
						<div class="row">
							<div class="col">
								<label for="form_url" class="required">URL: </label>
							</div>
							<div class="col">
								<input type="text" id="form_url" name="form[url]" required="required" value="{{ page.url }}">
							</div>
						</div>
						<div class="col text-center">
							<button type="submit" id="form_save" name="form[save]" class="btn btn-primary">Save Changes</button>
						</div>
					</form>
				`;
				break;
			

			case 'description':
				document.getElementById(titleId).innerHTML = 'Edit Description';
				form = `
					<form method="post" action="/page/{{ page.id }}/edit/description">
						<div class="row">
							<div class="col">
								<label for="form_description" class="required">Description: </label>
							</div>
							<div class="col">
								<textarea id="form_description" name="form[description]" required="required">{{ page.description }}</textarea>
							</div>
						</div>
						<div class="col text-center">
							<button type="submit" class="btn btn-primary">Save Changes</button>
						</div>
					</form>
				`;
				break;
		}

		document.getElementById(editId).innerHTML = form;
		$("#editModal").modal('toggle');
	}

	</script>
{% endblock %}
